$base-color: #006699;
//$active-color: #FF9900;
$base-gradient: 'glossy';
$font-family: Georgia;
$page-bg-color: #FFFFFF;
$list-header-bg-color:#FFFFFF;
$list-bg-color: #FFFFFF;
$list-disclosure-color: #C11110;

$tabs-dark: darken($base-color, 10%);
$tabs-dark-active-color: #FFFFFF;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('calendar2');
@include pictos-iconmask('contract');
@include pictos-iconmask('globe1');
@include pictos-iconmask('mail5');
@include pictos-iconmask('user3');

// Your custom code goes here...
#officerList {
  .x-list:after {
    position: absolute;
    left: 0;
    right: 0;
    display:block;
    margin-top: 20px;
    content: "Data provided by DMAT";
    font-weight: bold;
    text-align: center;
    color: #aaa;
    font-size: 0.8em;
    text-shadow: rgba(255,255,255,.2) 0 1px 0;
  }
}

.officer-list-item {
  padding: 7px 10px;

  font-weight: bold;
  @include bevel-text('light');
  @include ellipsis;

  &.x-view-selected {
    background: #315d94 none !important;
    color: lighten(#315d94, 50%) !important;
  }
}

.officer-pic {
  display: inline-block;
  vertical-align: -17px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-position: center center;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: #ccc 0 1px 2px;
}

.x-list-disclosure {
    background-image: -webkit-linear-gradient(top, #E81415,#C11110 50%,#C11110 51%,#C11110) !important;
}

#rsvpform {
    font-size: 75% !important;
}
#suggestionForm {
    font-size: 75% !important;
}
#contactForm {
    font-size: 75% !important;
}