$base-color: #006699;
//$active-color: #FF9900;
$base-gradient: 'glossy';
$font-family: cambria;
$page-bg-color: #FFFFFF;
$list-header-bg-color:#FFFFFF;
$list-bg-color: #ffffff;

$tabs-dark: darken(desaturate($base-color, 10%), 5%);
//$tabs-dark-active-color: $active-color;
$tabs-dark-active-color: #FF9900;
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include pictos-iconmask('calendar2');
@include pictos-iconmask('contract');
@include pictos-iconmask('link1');
@include pictos-iconmask('user_list');

// Your custom code goes here...
